#!/usr/bin/env python3

# choose your Ollama model
model = 'llama3.3'

# which numbers to enable LLM communication for
# all other numbers will be ignored
numbers = [
    # '+12345678900
]

# your MQTT host/port
host = '[HOSTNAME]'
port = 1883
# your MQTT credentials
user = '[USERNAME]'
password = '[PASSWORD]'